.about-container {
    text-align: center;
    margin-top: 8rem;
    padding: 5rem 0 8rem;
    background-color: white;

    h1 {
        font-weight: 100;
        font-style: italic;
        font-size: 3rem;
    }

    .img-container {
        padding: 10px;

        .icon-img {
            max-width: 85px;
            width: 50%;
            margin: auto;
            
            @include sm {
                max-width: 140px;
                width: 70%;
            }
        }
    }

    @include sm-down {
        .row {
            max-width: 300px;
            margin: auto;
        }
    }
}