.bg-light {
    background-color: $lightGray !important;
}

.btn-green {
    background-color: $green;
    color: white;
    
    &:hover {
        color: white;
        background-color: $teal;
    }
}

.btn-generate {
    background-color: $green;
    color: white;
    padding: 0.6rem 2.5rem;
    font-size: 1.1rem;
    
    &:hover {
        color: white;
        background-color: $teal;
    }
}

.lg-btn {
    padding: 0.42rem 1.75rem !important;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.75rem !important;
}