.hero {
    position: relative;
    width: 100%;
    background-image: url("/img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    max-height: 640px;
    height: 40vh;
    
    @include md {
        height: 60vh;
    }


    .hero-text {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;

        h1 {
            color: white;
            text-shadow: 0 0 8px #313131;
            max-width: 600px;
            margin: auto;
            text-align: center;
            font-size: 2.6rem;
            font-weight: 100;
        }
    }
}