.get-activity-box {
    position: relative;
    max-width: 800px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    
    box-shadow: 0 0 12px 0 rgb(0, 0, 0, 0.15);
    z-index: 11;
    margin-top: -35px;
    
    @include md {
        margin-top: -70px;
    }

    .activity-box-inner {
        padding: 30px;

        @include md-down {
            padding-bottom: 50px;
        }
        
        @include md {
            padding: 45px;
        }

        .feedback-placeholder {
            min-height: 63px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .feedback-form {
            max-width: 400px;
            margin: auto;
        }

        .range-selector {
            position: relative;
            padding-bottom: 20px;

            .custom-range::-webkit-slider-thumb {
                background: $green;
            }
            
            .custom-range::-moz-range-thumb {
                background: $green;
            }

            .selected-container {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
            }

            .left {
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .right {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        
    }

    h1 {
        font-size: 1.8rem;
        color: #191411;
        font-style: italic;
        font-weight: 100;
    }

    .filters-button-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 30px;
        background: $green;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        color: white;
        font-size: 0.84rem;
    }

    p {
        padding: 0;
        margin: 0;
    }

    .new-idea-button {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 0 !important;
        border-top-left-radius: 10px !important;
        font-size: 0.9rem;
    }
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $green;
    background-color: $green;
}