.propose-cta-container {
    padding: 5rem 0 1rem;

    h1 {
        margin-top: 4.8rem;
        font-weight: 100;
        font-style: italic;
        font-size: 2.6rem;
    }

    h2 {
        font-weight: 100;
        font-size: 1.6rem;
    }
}