.propose-activity-outer {
    background-color: white;
    padding: 3rem 0;
    min-height: calc(100vh - 50px - 65px);
    
    @include md {
        min-height: calc(100vh - 50px - 86px);
    }

    h1 {
        text-transform: uppercase;
        font-style: italic;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 100;
    }

    .propose-activity-inner {
        max-width: 960px;
        width: 90%;
        border: 1px solid #ced4da;
        border-radius: 15px;
        box-shadow: 0 0 12px 0 rgb(0, 0, 0, 0.15);
        margin: auto;
        padding: 1rem 2rem;
        
        @include md {
            padding: 3rem 5rem;
        }
    }
}