.side-pull {
    position: fixed;
    top: 50px;
    right: -128px;
    width: auto;
    height: 46px;
    background: white;
    box-shadow: 0 0 9px #595e644a;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 12;
    transition: right 700ms ease;
    cursor: pointer;

    &:hover {
        right: 0;
    }

    .side-pull-inner {
        display: flex;
        align-items: center;

        height: 100%;
        width: 100%;
        padding: 0.45rem;

        img {
            height: 100%;
        }

        a {
            color: black;
            text-decoration: none;
            margin: 0;
            padding: 0;
            margin-left: 11px;
            margin-right: 5px;
            font-size: 14px;
            white-space: nowrap;
        }
    }
}

.isOpen {
    right: 0 !important;
}