<template>
  <div>
    <b-container>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-1" label="Opis dejavnosti:">
          <b-form-input
            id="input-1"
            v-model="form.name"
            placeholder="Vnesi opis"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-3"
          label="Kategorija:"
          label-for="input-3"
        >
          <b-form-select
            id="input-3"
            v-model="form.category_id"
            :options="categories"
            required
          ></b-form-select>
        </b-form-group>

        <b-row>
          <b-col cols="6">
            <b-form-group label="Samo dnevna dejavnost?">
              <b-form-radio
                v-model="form.daytime"
                name="daytime-pick"
                value="1"
                required
              >
                Da
              </b-form-radio>
              <b-form-radio
                v-model="form.daytime"
                name="daytime-pick"
                value="0"
                required
              >
                Ne
              </b-form-radio>
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group label="Dejavnost na prostem?">
              <b-form-radio
                v-model="form.outdoor"
                name="outdoor-pick"
                value="1"
                required
              >
                Da
              </b-form-radio>
              <b-form-radio
                v-model="form.outdoor"
                name="outdoor-pick"
                value="0"
                required
              >
                Ne
              </b-form-radio>
            </b-form-group>
          </b-col>
        </b-row>

        <b-button type="submit" variant="primary">Shrani</b-button>
      </b-form>
      <b-alert
        :show="responseMsg != ''"
        :variant="alertVariant"
        dismissible
        class="mt-4"
      >
        {{ responseMsg }}
      </b-alert>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
        category_id: null,
        daytime: null,
        outdoor: null,
      },
      categories: [{ text: "Izberi eno", value: null }],
      show: true,
      alertVariant: "success",
      responseMsg: "",
    };
  },

  mounted() {
    this.fetchCategories();
  },

  methods: {
    fetchCategories() {
      axios
        .get("/categories")
        .then((res) => {
          this.parseCategories(res.data.data);
        })
        .catch((err) => {
          console.log("error!");
          console.log(err.response);
        });
    },

    // Transform categories to BootstrapVue Form Select format
    parseCategories(data) {
      for (var c of data) {
        var category = { text: null, value: null };
        category.text = c.name;
        category.value = c.id;
        this.categories.push(category);
      }
    },

    onSubmit(event) {
      event.preventDefault();
      axios
        .post("/activities", this.form)
        .then((res) => {
          this.alertVariant = "success";
          this.responseMsg = res.data.message;
        })
        .catch((err) => {
          this.alertVariant = "danger";
          this.responseMsg = err.response.data.message;
        })
        .then(() => {
          this.onReset(event);
        });
    },

    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.name = "";
      this.form.category_id = null;
      this.form.daytime = null;
      this.form.outdoor = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>