<template>
  <div>
    <b-container>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-1" label="Ime kategorije:">
          <b-form-input
            id="input-1"
            v-model="form.name"
            placeholder="Vnesi ime"
            required
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Shrani</b-button>
      </b-form>
      <b-alert
        :show="responseMsg != ''"
        :variant="alertVariant"
        dismissible
        class="mt-4"
      >
        {{ responseMsg }}
      </b-alert>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
      },
      show: true,
      alertVariant: "success",
      responseMsg: "",
    };
  },

  methods: {
    onSubmit(event) {
      event.preventDefault();
      axios
        .post("/categories", this.form)
        .then((res) => {
          this.alertVariant = "success";
          this.responseMsg = res.data.message;
          console.log(this.responseMsg);
        })
        .catch((err) => {
          this.alertVariant = "danger";
          this.responseMsg = err.response.data.message;
        })
        .then(() => {
          this.onReset(event);
        });
    },

    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.name = "";
      this.form.category_id = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>