<template>
  <div class="dashboard-inner">
    <b-container>
      <b-row>
        <b-col cols="12" sm="4">
          <div class="box">
            <h5>Danes generiranih idej:</h5>
            <h4 class="number">{{ totalCountToday }}</h4>
          </div>
        </b-col>
        <b-col cols="12" sm="4">
          <div class="box">
            <h5>Generiranih idej v zadnjem tednu:</h5>
            <h4 class="number">
              {{ totalCountLastWeek }}
            </h4>
          </div>
        </b-col>
        <b-col cols="12" sm="4">
          <div class="box">
            <h5>Skupno vseh generiranih idej:</h5>
            <h4 class="number">
              {{ totalCount }}
            </h4>
          </div>
        </b-col>
      </b-row>

      <b-row class="mt-5">
        <b-col cols="12" sm="6">
          <div class="table-box">
            <h5>Najbolj všečkane dejavnosti:</h5>
            <p v-for="(a, index) in mostLiked" :key="a.id">
              {{ index + 1 }}. {{ a.name }}
            </p>
          </div>
        </b-col>
        <b-col cols="12" sm="6">
          <div class="table-box">
            <h5>Najbolj preskočene dejavnosti:</h5>
            <p v-for="(a, index) in mostSkipped" :key="a.id">
              {{ index + 1 }}. {{ a.name }}
            </p>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      totalCount: null,
      totalCountLastWeek: null,
      totalCountToday: null,
      mostLiked: [],
      mostSkipped: [],
    };
  },

  mounted() {
    this.getTotalCountToday();
    this.getTotalCountLastWeek();
    this.getTotalCount();
    this.getMostLiked();
    this.getMostSkipped();
  },

  methods: {
    getTotalCount() {
      axios
        .get("/get-generates-count")
        .then((res) => {
          this.totalCount = res.data.count;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    getTotalCountLastWeek() {
      var now = new Date();
      var previousweek = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);
      var p =
        previousweek.getDate() +
        "-" +
        previousweek.getMonth() +
        "-" +
        previousweek.getFullYear();

      axios
        .post("/get-generates-count-time-range", { from_date: p })
        .then((res) => {
          this.totalCountLastWeek = res.data.count;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    getTotalCountToday() {
      var now = new Date();
      var previousweek = new Date(now.getTime() - 24 * 60 * 60 * 1000);
      var p =
        previousweek.getDate() +
        "-" +
        (previousweek.getMonth() + 1) +
        "-" +
        previousweek.getFullYear();

      axios
        .post("/get-generates-count-time-range", { from_date: p })
        .then((res) => {
          this.totalCountToday = res.data.count;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    getMostLiked() {
      axios
        .get("/get-most-liked")
        .then((res) => {
          this.mostLiked = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    getMostSkipped() {
      axios
        .get("/get-most-skipped")
        .then((res) => {
          this.mostSkipped = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
  },
};
</script>

<style>
</style>