<template>
  <b-container>
    <b-table :items="feedbacks" :fields="fields" striped responsive="md">
    </b-table>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      feedbacks: [],
      fields: [
        {
          key: "id",
          label: "ID",
          sortable: true,
        },
        {
          key: "message",
          label: "Sporočilo",
        },
        {
          key: "activity",
          label: "Dejavnost",
        },
        {
          key: "created_at",
          label: "Ustvarjeno",
          sortable: true,
        },
      ],
    };
  },

  mounted() {
    this.getFeedbacks();
  },

  methods: {
    getFeedbacks() {
      axios
        .get("/get-feedbacks")
        .then((res) => {
          this.parseFeedbacks(res.data.feedbacks);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    parseFeedbacks(data) {
      this.feedbacks = [];
      for (var a of data) {
        var item = {
          id: a.id,
          message: a.message,
          activity: a.activity.name,
          created_at: new Date(a.created_at).toLocaleString(),
        };
        this.feedbacks.push(item);
      }
    },
  },
};
</script>

<style>
</style>