<template>
  <div>
    <b-container>
      <b-table
        :items="categoriesList"
        :fields="fields"
        striped
        responsive="md"
        ref="categoriesTable"
      >
        <template #cell(show_details)="row">
          <b-button
            size="sm"
            @click="toggleEditing(row.item)"
            class="mr-2 text-white"
            variant="info"
          >
            {{ row.detailsShowing ? "Prekliči" : "Uredi" }}
          </b-button>
        </template>

        <template #row-details>
          <b-card>
            <b-form @submit="updateCategory">
              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Ime:</b></b-col>
                <b-col>
                  <b-form-input
                    size="sm"
                    required
                    v-model="currentlyEditing.name"
                  ></b-form-input>
                </b-col>
              </b-row>

              <div class="text-right">
                <b-button size="sm" variant="success" type="submit"
                  >Shrani</b-button
                >
                <b-button size="sm" variant="danger" @click="deleteCategory"
                  >Odstrani</b-button
                >
              </div>
            </b-form>
          </b-card>
        </template>
      </b-table>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        {
          key: "id",
          label: "ID",
          sortable: true,
        },
        {
          key: "name",
          label: "Ime",
          sortable: true,
        },
        {
          key: "created_at",
          label: "Ustvarjeno",
          sortable: true,
        },
        {
          key: "updated_at",
          label: "Posodobljeno",
          sortable: true,
        },
        {
          key: "show_details",
          label: "Dejanje",
          sortable: false,
        },
      ],
      categoriesList: [],
      currentlyEditing: {
        id: null,
        name: null,
      },
    };
  },

  mounted() {
    this.fetchCategories();
  },

  methods: {
    toggleEditing(data) {
      // toggle row editing
      if (data._showDetails) {
        data._showDetails = false;
        this.currentlyEditing.id = null;
        this.currentlyEditing.name = null;
      } else {
        // check if another row is currently being edited and close it
        if (this.currentlyEditing.id) {
          this.categoriesList.filter((obj) => {
            if (obj.id === this.currentlyEditing.id) obj._showDetails = false;
          });
        }

        data._showDetails = true;
        this.currentlyEditing.id = data.id;
        this.currentlyEditing.name = data.name;
      }
    },

    updateCategory(event) {
      event.preventDefault();
      axios
        .put(
          `/categories/${this.currentlyEditing.id}?name=${this.currentlyEditing.name}`
        )
        .then((res) => {
          this.fetchCategories();
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    deleteCategory(event) {
      event.preventDefault();
      axios
        .delete(`/categories/${this.currentlyEditing.id}`)
        .then((res) => {
          this.fetchCategories();
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    fetchCategories() {
      axios
        .get("/categories")
        .then((res) => {
          this.parseCategories(res.data.data);
        })
        .catch((err) => {
          console.log("error!");
          console.log(err.response);
        });
    },

    parseCategories(data) {
      this.categoriesList = [];
      for (var a of data) {
        a.created_at = new Date(a.created_at).toLocaleString();
        a.updated_at = new Date(a.updated_at).toLocaleString();
        a._showDetails = false;
        this.categoriesList.push(a);
      }
    },
  },
};
</script>

<style>
</style>