<template>
  <div>
    <b-container>
      <b-table
        :items="activitiesList"
        :fields="fields"
        striped
        responsive="md"
        ref="activitiesTable"
      >
        <template #cell(show_details)="row">
          <b-button-group size="sm">
            <b-button
              @click="toggleEditing(row.item)"
              class="text-white"
              variant="info"
            >
              {{ row.detailsShowing ? "Prekliči" : "Uredi" }}
            </b-button>
            <b-button
              variant="success"
              @click="approveActivity(row.item)"
              :disabled="row.detailsShowing"
              >Odobri</b-button
            >
          </b-button-group>
        </template>

        <template #row-details>
          <b-card>
            <b-form @submit="updateActivity">
              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Opis:</b></b-col>
                <b-col>
                  <b-form-input
                    size="sm"
                    required
                    v-model="currentlyEditing.name"
                  ></b-form-input>
                </b-col>
              </b-row>

              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Kategorija:</b></b-col>
                <b-col>
                  <b-form-select
                    v-model="currentlyEditing.category_id"
                    :options="categoriesList"
                    size="sm"
                  ></b-form-select>
                </b-col>
              </b-row>

              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"
                  ><b>Dnevna dejavnost?</b></b-col
                >
                <b-col>
                  <b-form-group>
                    <b-form-radio
                      v-model="currentlyEditing.daytime"
                      name="daytime-pick"
                      value="1"
                      required
                    >
                      Da
                    </b-form-radio>
                    <b-form-radio
                      v-model="currentlyEditing.daytime"
                      name="daytime-pick"
                      value="0"
                      required
                    >
                      Ne
                    </b-form-radio>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"
                  ><b>Dejavnost na prostem?</b></b-col
                >
                <b-col>
                  <b-form-group>
                    <b-form-radio
                      v-model="currentlyEditing.outdoor"
                      name="outdoor-pick"
                      value="1"
                      required
                    >
                      Da
                    </b-form-radio>
                    <b-form-radio
                      v-model="currentlyEditing.outdoor"
                      name="outdoor-pick"
                      value="0"
                      required
                    >
                      Ne
                    </b-form-radio>
                  </b-form-group>
                </b-col>
              </b-row>

              <div class="text-right">
                <b-button size="sm" variant="success" type="submit"
                  >Shrani</b-button
                >
                <b-button size="sm" variant="danger" @click="deleteActivity"
                  >Odstrani</b-button
                >
              </div>
            </b-form>
          </b-card>
        </template>
      </b-table>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        {
          key: "id",
          label: "ID",
          sortable: true,
        },
        {
          key: "name",
          label: "Opis",
          sortable: true,
        },
        {
          key: "daytime",
          label: "Dnevna",
          sortable: true,
        },
        {
          key: "outdoor",
          label: "Zunanja",
          sortable: true,
        },
        {
          key: "category",
          label: "Kategorija",
          sortable: true,
        },
        {
          key: "created_at",
          label: "Ustvarjeno",
          sortable: true,
        },
        {
          key: "updated_at",
          label: "Posodobljeno",
          sortable: true,
        },
        {
          key: "show_details",
          label: "Dejanje",
          sortable: false,
        },
      ],
      activitiesList: [],
      categoriesList: [],
      currentlyEditing: {
        id: null,
        name: null,
        category_id: null,
        daytime: null,
        outdoor: null,
      },
    };
  },

  mounted() {
    this.fetchActivities();
    this.fetchCategories();
  },

  methods: {
    toggleEditing(data) {
      // toggle row editing
      if (data._showDetails) {
        data._showDetails = false;
        this.currentlyEditing.id = null;
        this.currentlyEditing.name = null;
        this.currentlyEditing.daytime = null;
        this.currentlyEditing.outdoor = null;
        this.currentlyEditing.category_id = null;
      } else {
        // check if another row is currently being edited and close it
        if (this.currentlyEditing.id) {
          this.activitiesList.filter((obj) => {
            if (obj.id === this.currentlyEditing.id) obj._showDetails = false;
          });
        }

        data._showDetails = true;
        this.currentlyEditing.id = data.id;
        this.currentlyEditing.name = data.name;
        this.currentlyEditing.category_id = data.category_id;
        this.currentlyEditing.outdoor = data.outdoor;
        this.currentlyEditing.daytime = data.daytime;
      }
    },

    approveActivity(data) {
      axios
        .post("/approve-activity", data)
        .then((res) => {
          this.fetchActivities();
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    updateActivity(event) {
      event.preventDefault();
      axios
        .put(
          `/proposedActivities/${this.currentlyEditing.id}?name=${this.currentlyEditing.name}&daytime=${this.currentlyEditing.daytime}&outdoor=${this.currentlyEditing.outdoor}&category_id=${this.currentlyEditing.category_id}`
        )
        .then((res) => {
          this.fetchActivities();
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    deleteActivity(event) {
      event.preventDefault();
      axios
        .delete(`/proposedActivities/${this.currentlyEditing.id}`)
        .then((res) => {
          this.fetchActivities();
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    fetchActivities() {
      axios
        .get("/proposedActivities")
        .then((res) => {
          this.parseActivities(res.data.data);
        })
        .catch((err) => {
          console.log("error!");
          console.log(err.response);
        });
    },

    parseActivities(data) {
      this.activitiesList = [];
      for (var a of data) {
        a.allCategoryData = a.category;
        a.category = a.category.name;
        a.created_at = new Date(a.created_at).toLocaleString();
        a.updated_at = new Date(a.updated_at).toLocaleString();
        a._showDetails = false;
        this.activitiesList.push(a);
      }
    },

    fetchCategories() {
      axios
        .get("/categories")
        .then((res) => {
          this.parseCategories(res.data.data);
        })
        .catch((err) => {
          console.log("error!");
          console.log(err.response);
        });
    },
    parseCategories(data) {
      for (var a of data) {
        var item = { value: a.id, text: a.name };
        this.categoriesList.push(item);
      }
    },
  },
};
</script>

<style>
</style>