<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-icon
      icon="list"
      font-scale="2"
      @click="ToggleSideBar()"
      class="d-none"
    ></b-icon>
    <b-icon
      icon="list"
      font-scale="2"
      v-b-toggle.sidebar-1
      class="text-white c-pointer d-block d-lg-none"
    ></b-icon>
    <b-navbar-nav class="ml-auto">
      <a
        class="btn btn-danger float-right"
        href="/logout"
        onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
      >
        Odjava
      </a>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
import { EventBus } from "../../event-bus";

export default {
  data() {
    return {
      SideBarOpened: false,
    };
  },

  methods: {
    ToggleSideBar() {
      EventBus.$emit("clicked");
    },
  },
};
</script>

<style>
</style>