<template>
  <div class="custom-sidebar">
    <b-sidebar
      id="sidebar-1"
      title="Sidebar"
      shadow
      :visible="isLg"
      :backdrop="!isLg"
      no-header
      :no-close-on-route-change="isLg"
      :no-slide="isLg"
    >
      <div class="pt-4">
        <b-nav vertical>
          <b-nav-item to="/admin" exact exact-active-class="active">
            <b-icon icon="clipboard-data" scale="1" class="mr-2"></b-icon>
            Nadzorna plošča
          </b-nav-item>
          <b-dropdown variant="dropdown">
            <template #button-content variant="success">
              <b-icon icon="gem" scale="1" class="mr-2"></b-icon>
              Dejavnosti
            </template>
            <b-dropdown-item to="/admin/dejavnosti">Pregled</b-dropdown-item>
            <b-dropdown-item to="/admin/dejavnosti/dodaj"
              >Dodaj novo</b-dropdown-item
            >
            <b-dropdown-item to="/admin/dejavnosti/predlogi"
              >Predlagane dejavnosti</b-dropdown-item
            >
          </b-dropdown>
          <b-dropdown variant="dropdown">
            <template #button-content variant="success">
              <b-icon icon="folder2" scale="1" class="mr-2"></b-icon>
              Kategorije
            </template>
            <b-dropdown-item to="/admin/kategorije">Pregled</b-dropdown-item>
            <b-dropdown-item to="/admin/kategorije/dodaj"
              >Dodaj novo</b-dropdown-item
            >
          </b-dropdown>
          <b-nav-item to="/admin/mnenja" exact exact-active-class="active">
            <b-icon icon="envelope" scale="1" class="mr-2"></b-icon>
            Mnenja
          </b-nav-item>
        </b-nav>
      </div>
    </b-sidebar>
    <div
      v-b-visible="handleVisible"
      class="position-fixed d-none d-lg-block"
      style="z-index: 20000; height: 1px"
    ></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLg: false,
    };
  },
  methods: {
    handleVisible(isVisible) {
      this.isLg = isVisible;
    },
  },
};
</script>

<style>
</style>