@mixin xs {
    @media only screen and (min-width: 350px) {
      @content;
    }
}
@mixin xs-down {
    @media only screen and (max-width: 350px) {
      @content;
    }
}
  
@mixin sm {
    @media only screen and (min-width: 576px) {
      @content;
    }
}
@mixin sm-down {
    @media only screen and (max-width: 576px) {
      @content;
    }
}
  
@mixin md {
    @media only screen and (min-width: 768px) {
      @content;
    }
}
@mixin md-down {
    @media only screen and (max-width: 768px) {
      @content;
    }
}
  
@mixin lg {
    @media only screen and (min-width: 992px) {
      @content;
    }
}
@mixin lg-down {
    @media only screen and (max-width: 991px) {
      @content;
    }
}
  
@mixin xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
}
@mixin xl-down {
    @media only screen and (max-width: 1200px) {
      @content;
    }
}