// Typography
$font-family-sans-serif: 'Helvetica', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// Colors
$lightGray: #f4f7f6;
$blue: #3490dc;
$darkBlue: #1d68a7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #116466;
$teal: #116466;
$cyan: #6cb2eb;

// Body
$body-bg: $lightGray;