<template>
  <div class="about-container">
    <b-container>
      <h1>O aplikaciji</h1>
      <b-row class="mt-5">
        <b-col cols="12" sm="4">
          <div class="img-container">
            <img class="icon-img" src="/img/icons/filter.png" />
          </div>
          <h4 class="mt-3">Filtri</h4>
          <p>
            Pri izbiri dejavnosti so s prioriteto upoštevani uporabnikovi
            filtri.
          </p>
        </b-col>
        <b-col cols="12" sm="4">
          <div class="img-container">
            <img class="icon-img" src="/img/icons/map.png" />
          </div>
          <h4 class="mt-3">Lokacija</h4>
          <p>Aplikacija na podlagi IP naslova določi uporabnikovo lokacijo.</p>
        </b-col>
        <b-col cols="12" sm="4">
          <div class="img-container">
            <img class="icon-img" src="/img/icons/weather.png" />
          </div>
          <h4 class="mt-3">Vreme</h4>
          <p>Upoštevajo se vremenske razmere na uporabnikovi lokaciji.</p>
        </b-col>
      </b-row>
      <b-row class="mt-0 mt-sm-5">
        <b-col cols="12" sm="4">
          <div class="img-container">
            <img class="icon-img" src="/img/icons/api.png" />
          </div>
          <h4 class="mt-3">Zunanji API</h4>
          <p>
            Aplikacija je povezana z zunanjimi APIji za pridobitev dodatnih
            idej.
          </p>
        </b-col>

        <b-col cols="12" sm="4">
          <div class="img-container">
            <img class="icon-img" src="/img/icons/group.png" />
          </div>
          <h4 class="mt-3">Predlogi uporabnikov</h4>
          <p>
            Uporabniki imajo možnost oddajanja svojih idej za dejavnosti, ki jih
            aplikacija lahko predlaga.
          </p>
        </b-col>

        <b-col cols="12" sm="4">
          <div class="img-container">
            <img class="icon-img" src="/img/icons/dashboard.png" />
          </div>
          <h4 class="mt-3">Nadzorna plošča</h4>
          <p>Aplikacija zajema nadzorno ploščo namenjeno administratorjem.</p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>