<template>
  <div class="propose-cta-container">
    <b-container class="text-center">
      <b-icon
        icon="arrow-down"
        animation="cylon-vertical"
        font-scale="2"
      ></b-icon>
      <h1>Imate svojo zanimivo idejo?</h1>
      <h2 class="mt-3">Oddajte jo v naš sistem in mogoče jo kdo prejme!</h2>
      <b-button variant="green" to="/oddaj-idejo" class="mt-4 lg-btn" pill
        >Oddaj idejo</b-button
      >
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>