<template>
  <b-container>
    <div class="get-activity-box">
      <b-overlay :show="loading" rounded="sm">
        <div
          class="filters-button-container"
          @click="collapses.filtersVisible = !collapses.filtersVisible"
          v-show="!receivedActivity"
        >
          {{ collapses.filtersVisible ? "Skrij" : "Prikaži" }} filtre
        </div>

        <div class="activity-box-inner">
          <div class="text-center mb-4 mt-4 mt-sm-0" v-show="!receivedActivity">
            <h1>Pritisni spodnji gumb<br />in prejmi idejo!</h1>
          </div>

          <b-form @submit="getRandomActivity" v-show="!receivedActivity">
            <b-collapse v-model="collapses.filtersVisible">
              <b-row class="text-center pt-3 pb-4">
                <b-col cols="12" sm="4">
                  <label for="category-select">Kategorija</label>
                  <b-form-select
                    id="category-select"
                    :options="categoriesList"
                    v-model="form.category"
                    size="sm"
                  ></b-form-select>
                </b-col>
                <b-col cols="12" sm="4">
                  <b-form-group
                    label="Samo dnevne dejavnosti?"
                    class="mt-3 mt-sm-0"
                  >
                    <b-form-radio
                      v-model="form.daytime"
                      name="daytime-pick"
                      value="1"
                    >
                      Da
                    </b-form-radio>
                    <b-form-radio
                      v-model="form.daytime"
                      name="daytime-pick"
                      value="0"
                    >
                      Ne
                    </b-form-radio>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="4">
                  <b-form-group label="Samo dejavnosti na prostem?" inline>
                    <b-form-radio
                      v-model="form.outdoor"
                      name="outdoor-pick"
                      value="1"
                    >
                      Da
                    </b-form-radio>
                    <b-form-radio
                      v-model="form.outdoor"
                      name="outdoor-pick"
                      value="0"
                    >
                      Ne
                    </b-form-radio>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-row class="text-center justify-content-center mb-4">
                <b-col cols="12" sm="6" align-self="center">
                  <div class="range-selector">
                    <label for="range-1">Dejavnost planiram čez:</label>
                    <b-form-input
                      id="range-1"
                      v-model="form.time"
                      type="range"
                      min="0"
                      max="48"
                    ></b-form-input>
                    <div class="selected-container">
                      {{ form.time ? `${form.time} ur` : "Izberi" }}
                    </div>
                    <div class="left">0 ur</div>
                    <div class="right">48 ur</div>
                  </div>
                </b-col>
              </b-row>
            </b-collapse>
            <div class="text-center pt-4">
              <b-button variant="generate" type="submit" pill
                >Pridobi idejo!</b-button
              >
            </div>
          </b-form>

          <div class="text-center" v-if="receivedActivity">
            <h4>Predlagamo:</h4>
            <h1 class="mt-3">{{ receivedActivity.name }}</h1>

            <b-collapse v-model="collapses.like">
              <p class="mt-4">Ti je ideja všeč?</p>
              <b-icon
                id="love-it"
                :icon="liked ? 'heart-fill' : 'heart'"
                variant="danger"
                scale="1.5"
                class="mt-3"
                @click="likeActivity"
              ></b-icon>
              <b-popover target="love-it" triggers="hover" placement="top">
                Všeč mi je!
              </b-popover>
            </b-collapse>

            <b-collapse v-model="collapses.showFdbForm">
              <p class="mb-2 mt-3">Če ne, nam povej zakaj:</p>
              <b-collapse v-model="collapses.fdbBtn">
                <b-button
                  variant="green"
                  size="sm"
                  pill
                  @click="showFeedbackForm"
                  >Pusti mnenje</b-button
                >
              </b-collapse>
            </b-collapse>

            <b-collapse v-model="collapses.fdbForm">
              <b-form class="mt-3 feedback-form">
                <b-form-textarea
                  id="textarea"
                  v-model="feedbackForm.text"
                  placeholder="Vpiši mnenje ..."
                  rows="3"
                  max-rows="6"
                  required
                ></b-form-textarea>
                <b-button
                  variant="green"
                  size="sm"
                  pill
                  class="mt-2"
                  @click="submitFeedback"
                  >Pošlji</b-button
                >
              </b-form>
            </b-collapse>

            <b-collapse v-model="collapses.thanks">
              <p class="mt-4">Hvala za mnenje!</p>
            </b-collapse>

            <b-button variant="green" @click="reset" class="new-idea-button"
              >Pridobi novo idejo</b-button
            >
          </div>
        </div>
        <template #overlay>
          <div class="text-center">
            <b-icon icon="clock" animation="spin" font-scale="3"></b-icon>
            <p class="mt-2 mb-3">Izbiramo...</p>
          </div>
        </template>
      </b-overlay>
    </div>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      form: {
        category: null,
        daytime: null,
        outdoor: null,
        previous: null,
        time: null,
      },
      feedbackForm: {
        text: null,
      },
      categoriesList: [{ text: "Vse", value: null }],
      receivedActivity: null,
      liked: false,
      loading: false,
      collapses: {
        filtersVisible: false,
        like: true,
        showFdbForm: true,
        fdbBtn: true,
        fdbForm: false,
        thanks: false,
      },
    };
  },

  mounted() {
    this.fetchCategories();
  },

  methods: {
    fetchCategories() {
      axios
        .get("/categories")
        .then((res) => {
          this.parseCategories(res.data.data);
        })
        .catch((err) => {
          console.log("error!");
          console.log(err.response);
        });
    },

    parseCategories(data) {
      for (var a of data) {
        var obj = {};
        obj.text = a.name;
        obj.value = a.id;
        this.categoriesList.push(obj);
      }
    },

    getRandomActivity(event) {
      event.preventDefault();
      this.liked = false;
      this.loading = true;
      axios
        .post("/get-random-activity", this.form)
        .then((res) => {
          this.receivedActivity = res.data.data[0];
          this.form.previous = res.data.data[0].id;
          console.log(res.data.data[0]);
        })
        .catch((err) => {
          alert(
            "Nismo našli nobene dejavnosti. Prosimo, poskusite spremeniti nastavljene filtre."
          );
          console.log(err.response);
        })
        .then(() => {
          this.loading = false;
        });
    },

    likeActivity(event) {
      event.preventDefault();
      this.collapses.fdbForm = false;
      this.collapses.showFdbForm = false;
      this.liked = true;
      axios
        .post("/like-activity", { id: this.receivedActivity.id })
        .then((res) => {
          console.log(res.data);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    reset(event) {
      event.preventDefault();
      axios
        .post("/skip-activity", { id: this.receivedActivity.id })
        .then((res) => {
          console.log(res.data);
        })
        .catch((err) => {
          console.log(err.response);
        });
      this.receivedActivity = null;
      this.collapses.like = true;
      this.collapses.showFdbForm = true;
      this.collapses.fdbBtn = true;
      this.collapses.fdbForm = false;
      this.collapses.thanks = false;
    },

    showFeedbackForm(event) {
      event.preventDefault();
      this.collapses.like = false;
      this.collapses.showFdbForm = true;
      this.collapses.fdbBtn = false;
      this.collapses.fdbForm = true;
    },

    submitFeedback(event) {
      event.preventDefault();
      axios
        .post("/post-feedback", {
          message: this.feedbackForm.text,
          activity_id: this.receivedActivity.id,
        })
        .then((res) => {
          this.collapses.fdbForm = false;
          this.collapses.showFdbForm = false;
          this.collapses.thanks = true;
        })
        .catch((err) => {
          if (err.response.data.errors.activity_id) {
            this.collapses.fdbForm = false;
            this.collapses.showFdbForm = false;
            this.collapses.thanks = true;
          }
        })
        .then(() => {
          this.feedbackForm.text = null;
        });
    },
  },
};
</script>

<style>
</style>