<template>
  <div class="hero">
    <div class="hero-text">
      <h1>Za vas izberemo najboljšo idejo za preživljanje prostega časa</h1>
    </div>
    <!-- <b-carousel fade no-touch :interval="2500">
      <b-carousel-slide img-src="/img/hero.jpg"></b-carousel-slide>
      <b-carousel-slide
        img-src="https://picsum.photos/1920/840/?image=10"
      ></b-carousel-slide>
      <b-carousel-slide
        img-src="https://picsum.photos/1920/840/?image=11"
      ></b-carousel-slide>
      <b-carousel-slide
        img-src="https://picsum.photos/1920/840/?image=12"
      ></b-carousel-slide>
    </b-carousel> -->
  </div>
</template>

<script>
export default {};
</script>