<template>
  <div class="footer">
    <b-container no-gutters class="text-center">
      <p>Univerza v Ljubljani - Fakulteta za računalništvo in informatiko</p>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>