<template>
  <div class="website-navbar">
    <b-navbar toggleable="sm" variant="light">
      <b-navbar-brand to="/">Generator dejavnosti</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item
            to="/oddaj-idejo"
            exact
            exact-active-class="active"
            class="text-right"
          >
            <b-button variant="green" class="mt-2 mt-sm-0"
              >Oddaj svojo idejo</b-button
            >
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>