<template>
  <div class="side-pull" @click="isOpen = !isOpen" :class="{ isOpen: isOpen }">
    <div class="side-pull-inner">
      <img src="/img/icons/lightbulb.png" />
      <router-link to="/oddaj-idejo">Oddaj svojo idejo!</router-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
    };
  },
};
</script>

<style>
</style>