<template>
  <div class="position-relative">
    <side-pull></side-pull>
    <hero-slider></hero-slider>
    <get-activity></get-activity>
    <cta-propose></cta-propose>
    <about></about>
    <landing-footer></landing-footer>
  </div>
</template>

<script>
import HeroSlider from "../../components/webpage/HeroSlider.vue";
import GetActivity from "../../components/webpage/GetActivity.vue";
import CtaPropose from "../../components/webpage/CtaPropose.vue";
import SidePull from "../../components/webpage/SidePull.vue";
import About from "../../components/webpage/About.vue";
import LandingFooter from "../../components/webpage/LandingFooter.vue";

export default {
  components: {
    HeroSlider,
    GetActivity,
    CtaPropose,
    SidePull,
    About,
    LandingFooter,
  },
};
</script>

<style>
</style>