<template>
  <div class="bg-white">
    <div class="back-button p-4">
      <b-button to="/" variant="green">
        <b-icon icon="arrow-left" class="mr-1"></b-icon>
        Nazaj
      </b-button>
    </div>
    <propose-activity-form></propose-activity-form>
    <landing-footer></landing-footer>
  </div>
</template>

<script>
import ProposeActivityForm from "../../components/webpage/ProposeActivityForm.vue";
import LandingFooter from "../../components/webpage/LandingFooter.vue";

export default {
  components: {
    ProposeActivityForm,
    LandingFooter,
  },
};
</script>

<style>
</style>