.admin-layout {
    overflow: hidden;
    height: 100%;
}

.outer-wrap {
    display: flex;
    height: 100%;
}

.content-wrap {
    background: #f4f7f6;
    overflow-y: scroll;
    padding: 20px 20px 100px;
    width: 100%;
    
    @include lg {
        width: calc(100% - 320px);
    }
}

.dashboard-inner {
    text-align: center;

    .box {
        border: 1px solid #cdcbcb;
        border-radius: 10px;
        padding: 1rem 0.5rem;
        background-color: white;
        margin: 0.5rem auto;

        h5 {
            @include sm {
                min-height: 42px;
            }
        }
        
        h4 {
            font-size: 1.75rem;
            color: #116466;
            font-weight: 700;
            margin: 0;
        }
    }
    
    .table-box {
        border: 1px solid #cdcbcb;
        border-radius: 10px;
        padding: 1rem 0.5rem;
        background-color: white;
        margin: 0.5rem auto;   

        h5 {
            margin-bottom: 1.15rem;
        }
        
        p {
            margin-bottom: 0.35rem;

            &:last-child {
                margin: 0;
            }
        }
    }
}