.custom-sidebar {
    @include lg {
        position: relative;
        width: 320px;
    }
}

.b-sidebar {
    top: 53px;
}

.b-sidebar-backdrop {
    top: 53px;
}


.nav-link {
    &:hover {
        background-color: aliceblue;
    }
}

.btn-dropdown {
    background-color: transparent !important;
    color: $blue;
    text-align: left;
    padding: 0.5rem 1rem;
    
    &:hover {
        color: $darkBlue;
        background-color: aliceblue !important;
    }
}

.dropdown-menu {
    width: calc(100% - 10px);
}

.dropdown-item {
    color: $blue;

    &:hover {
        color: $darkBlue;
        background-color: aliceblue;
    }
}