<template>
  <div class="admin-layout">
    <nav-bar></nav-bar>
    <div class="outer-wrap">
      <side-bar></side-bar>
      <router-view class="content-wrap"></router-view>
    </div>
  </div>
</template>

<script>
import navBar from "../components/admin/AdminNavbar.vue";
import sideBar from "../components/admin/Sidebar.vue";

export default {
  components: {
    navBar,
    sideBar,
  },
};
</script>