<template>
  <div class="webpage-outer">
    <!-- <nav-bar></nav-bar> -->
    <router-view></router-view>
  </div>
</template>

<script>
import NavBar from "../components/webpage/Navbar.vue";

export default {
  components: {
    NavBar,
  },
};
</script>